.primary-button {
    background-color: blue; /* Botón primario en azul */
    color: white; /* Texto en blanco */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Espacio entre botones */
  }
  
  .primary-button:hover {
    opacity: 0.8; /* Efecto hover */
  }