.secondary-button {
  background-color: white; /* Botón secundario en blanco */
  color: black; /* Texto en negro */
  padding: 10px;
  border: 1px solid black; /* Borde negro para el botón blanco */
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px; /* Espacio entre botones */
}

.secondary-button:hover {
  opacity: 0.8; /* Efecto hover */
}