/* secondary-component.component.css */i
.secondary-button {
   padding: 10px 20px; /* Espaciado interno */
    background-color: rgb(0, 123, 255); /* Color de fondo (azul) */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
  }
  
  .secondary-button:hover {
    background-color: rgb(0, 105, 217); /* Color de fondo al pasar el mouse */
  }