.secondary-button {
  background-color: #03a9f4; /* Azul secundario */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.secondary-button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
