.dark-mode-button {
  width: 120px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #555; /* Borde gris oscuro */
  border-radius: 15px; /* Bordes redondeados */
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
  transition: 0.3s ease;
}

.dark-mode-button:hover {
  background-color: #333; /* Negro más claro */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}
